<!--register.html과 유사하지만 <form>태그 없이 읽기 전용으로 구성되는 부분이나 버튼에 추가적인 기능들이 붙는다는 점이 다르다-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Board Read</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Board Read
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Bno</span>
            <input type="text" class="form-control" th:value="${dto.bno}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" class="form-control" th:value="${dto.title}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Writer</span>
            <input type="text" class="form-control" th:value="${dto.writer}" readonly>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">RegDate</span>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">ModDate</span>
            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
          </div>

          <!-- 버튼에 필요한 링크는 th:with를 이용해서 변수로 미리 선언하고 필요할 때마다 재사용하는 방식을 이용할 수 있다 -->
          <div class="my-4">
            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
              <a th:href="|@{/board/list}?${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-primary">List</button>
              </a>
              <a th:href="|@{/board/modify(bno=${dto.bno})}&${link}|" class="text-decoration-none">
                <button type="button" class="btn btn-secondary">Modify</button>
              </a>
            </div>
          </div>


        </div><!--end card body-->



      </div><!--end card-->
    </div><!-- end col-->
  </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">



</script>